.outer-square {
  /* your css goes here */
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}
.inner-square {
  /* your css goes here */
  background-color: green;
  width: 180px;
  margin: 10px;
}
.circle {
  /* your css goes here */
  width: 180px;
  background-color: blue;
  border-radius: 50%;
  margin: 10px;
}
